
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
    list-style: none;
    text-decoration: none; 
}
a:hover{
    text-decoration: none;
}
a:focus {
    outline: none !important;
    outline-offset:0 !important;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body html{
    height: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*滚动条的宽度*/

/*外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 5px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 5px;
    }
::-webkit-scrollbar-thumb {
/*滚动条里面小方块*/
border-radius   : 10px;
background-color: rgb(150, 209, 233);
background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
);
}
::-webkit-scrollbar-track {
/*滚动条里面轨道*/
box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
background   : #ededed;
border-radius: 10px;
}
.chear{
    height: 100%;
    overflow: auto;
}
.left{
    float: left;
    width: 250px;
    
}
.right{
    float: left;
    width:calc(100% - 250px);
}
#menu{
    padding: 15px;
}
#reportContent{
    padding: 15px;
}
#menu li{
    width: 210px;
    /* height: 50px; */
    line-height: 24px;
    padding: 12px 0px;
    margin-bottom: 10px; 
    overflow: hidden;
   
}
#menu li span{
    display: block;
    padding-left: 60px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    cursor:pointer; 
    cursor:hand
}
#menu li.keEdit,#menu li.nowEdit{
    border: 1px solid #bbe2fc;
    background: -moz-linear-gradient(top, #ffffff 0%, #e0edf8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0edf8));
    background: -webkit-linear-gradient(top, #ffffff 0%,#e0edf8 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e0edf8 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e0edf8 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e0edf8 100%);
    
}
#menu li.keEdit span{
   
    font-size: 16px;
    color: #1a7acd;
    background: url(../img/img_07.png) no-repeat 30px 50%;
}
#menu li.nowEdit span{
   
    font-size: 16px;
    color: #1a7acd;
    background: url(../img/img_01.png) no-repeat 30px 50%;
}
#menu li.xEdit{
    border: 1px solid #1a7acd;
    background: -moz-linear-gradient(top, #1a7acd 0%, #1a7acd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a7acd), color-stop(100%,#1a7acd));
    background: -webkit-linear-gradient(top, #1a7acd 0%,#1a7acd 100%);
    background: -o-linear-gradient(top, #1a7acd 0%,#1a7acd 100%);
    background: -ms-linear-gradient(top, #1a7acd 0%,#1a7acd 100%);
    background: linear-gradient(to bottom, #1a7acd 0%,#1a7acd 100%);
    
}
#menu li.xEdit span{
    font-size: 16px;
    color: #fff;
    background: url(../img/img_06.png) no-repeat 30px 50%;
}
#menu li.bkEdit{
    border: 1px solid #dedede;
    background: -moz-linear-gradient(top, #ffffff 0%, #e0edf8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#eaeaea 100%);
    
}
#menu li.bkEdit span{
    font-size: 16px;
    color: #999999;
    cursor:not-allowed;
    background: url(../img/img_05.png) no-repeat 30px 50%;
}

#jindu ul.flex-direction-content{
    overflow: auto;
    height: 100%;
    width: 80%;
    margin: auto;
}

/* style="width: 253px; float: left; display: block;" */
#jindu ul.flex-direction-content li {
  
    width: 220px;
    height: 120px;
    /* padding: 5px; */
    float: left;
    text-align: center;

    margin-top: 0px;
}
#jindu ul li.xian{
    height: 4px;
    padding: 0px;
   
    width: 100px;
    margin-top: 40px;
}
#jindu ul li p{
   padding-top: 60px;
}
#jindu #priceCheck.keEdit{
    background: url(../img/img_08.png) no-repeat center 5px;
}
#jindu #priceCheck.bkEdit{
    background: url(../img/img_10.png) no-repeat center 5px;
}
#jindu #priceCheck.nowEdit{
    background: url(../img/img_09.png) no-repeat center 5px;
}
#jindu #PriceCheckTotal.keEdit{
    background: url(../img/img_02.png) no-repeat center 5px;
}
#jindu #PriceCheckTotal.bkEdit{
    background: url(../img/img_04.png) no-repeat center 5px;
}
#jindu #PriceCheckTotal.nowEdit{
    background: url(../img/img_03.png) no-repeat center 5px;
}
#jindu #CheckReport.keEdit{
    background: url(../img/img_11.png) no-repeat center 5px;
}
#jindu #CheckReport.bkEdit{
    background: url(../img/img_13.png) no-repeat center 5px;
}
#jindu #CheckReport.nowEdit{
    background: url(../img/img_12.png) no-repeat center 5px;
}
.blud{
    background: #1a7acd;
}
.grey{
    background: #ccc;
}

.flex-direction-nav span.flex-prev {
    left: 0px;
}
.flex-direction-nav span.flex-next {
    right: 0px;
}
.flex-direction-nav span{
    position: absolute;
    top: 50%;
    width: 48px;
    height: 160px;
    line-height: 160px;
    overflow: hidden;
    margin-top: -80px;
    font-size: 50px;
    font-family: simsun;
    color: #1a7acd;
    text-align: center;
    cursor:pointer;
}