.borderRadius3 {
  border-radius: 3px;
}
.disabled {
  pointer-events: none;
  background: #b1b1b1 !important;
  /* cursor: none; */
}
.colorBlue{
  color:#007eea;
}
.success{
  width:100px;
  height:100px;
  background:url('success.png');
  background-size:contain;
  background-position:center;
  margin: 0 auto 20px;
}
.error{
  width:100px;
  height:100px;
  background:url('error.png');
  background-size:contain;
  background-position:center;
  margin: 0 auto 20px;
}
.priceBox {
  /* display: flex; */
  position: relative;
  height: 100%;
  width: 100%;
}
.priceBox .leftPanel {
  width: 250px;
  background: linear-gradient(to top, #2990e9, #007eea);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}
.priceBox .leftPanel .priceType {
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  line-height: 2.5em;
  text-align: center;
}
.priceBox .leftPanel .priceInfo {
  padding: 0 20px 20px;
}
.priceBox .leftPanel .priceInfo .item {
  position: relative;
  margin-bottom: 5px;
}
.priceBox .leftPanel .priceInfo .item h4 {
  font-size: 14px;
  font-weight: bold;
  color: #ffcf3d;
  margin-bottom: 10px;
}
.priceBox .leftPanel .priceInfo .item p {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
.priceBox .leftPanel .priceInfo .item p.number {
  background: #fff;
  color: #007eea;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px 8px;
}
.priceBox .leftPanel .priceInfo .item p.type {
  border: 1px solid #fff;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px 8px;
  display: inline-block;
}
.priceBox .leftPanel .priceInfo .item:last-child {
  margin-bottom: 0;
}
.priceBox .rightPanel {
  background: url(price_bg2.jpg) #eee;
  background-size: cover;
  position: relative;
  padding-bottom: 40px;
  margin-left: 250px;
  min-height:500px;
  width: calc(100% - 250px);
  box-sizing:  border-box;
  padding: 0 20px 0;
}
.priceBox .rightPanel .Time {
  padding-top: 20px;
}
.priceBox .rightPanel .Time .timeShow {
  text-align: center;
  font-size: 40px;
  font-family: 'Impact';
  font-size: 20px;
  color: #333;
  font-weight: bold;
  /* margin-bottom: 10px; */
  display: flex;
  justify-content:  center;
  align-items:  baseline;
  height: 55px;
}
.priceBox .rightPanel .Time .timeShow font {
  font-weight: 100;
  font-size: 45px;
  color: #ff4d4d;
  margin: 0 10px 0 5px;
  overflow:  hidden;
  display:  inline-block;
  /* width: 60px; */
}
.priceBox .rightPanel .Time .TimeBox{
    padding: 10px;
    text-align:center;
}
.priceBox .rightPanel .Time .TimeText {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display:inline-block;
}
.priceBox .rightPanel .Time .otherText{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  display:inline-block;
}
.priceBox .rightPanel .Time .noticeBox{
  text-align:center; color:#999; margin-bottom:15px;
}

.priceBox .rightPanel .Time .TimeBox .otherText span {
  border-radius: 3px;
  background: #007eea;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
  margin-left: 15px;
}
.priceBox .rightPanel .submitBox {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #007eea;
  border-bottom: 3px solid #007eee;
  border-radius: 3px;
  position: relative;
  padding: 30px;
  background: #fff;
  height: 135px;
}
.priceBox .rightPanel .submitBox .submitType .submitMain {
  display: flex;
}
.priceBox .rightPanel .submitBox .submitType .submitMain .item {
  flex: auto;
}
.priceBox .rightPanel .submitBox .submitType .submitMain .item.inputBox{
    flex: inherit;
}

.priceBox .rightPanel .submitBox .submitType .submitMain .item h4 {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}
.priceBox .rightPanel .submitBox .submitType .submitMain .item p {
  font-size: 22px;
  font-weight: bold;
}
.priceBox .rightPanel .submitBox .submitType .submitMain .item p.minPrice{font-size: 22px;color: #007eea;}
.priceBox .rightPanel .submitBox .submitType .submitMain .item p span {
  font-size: 16px;
}
.priceBox .rightPanel .submitBox .submitType .submitMain .item .inputTextBox .inputText {
  position: relative;
  width: 200px;
}
.priceBox .rightPanel .submitBox .submitType .submitMain .item .inputTextBox{display:flex;margin-bottom: 15px;}
.priceBox .rightPanel .submitBox .submitType .submitMain .item .inputTextBox > span{line-height:30px;text-align:right;padding-left: 10px;display: inline-block;}
.priceBox .rightPanel .submitBox .submitType .submitMain .item .inputText:after {
  position: absolute;
  content: "\0020\5143"; /* 元 转义*/
  right: 8px;
  top: 8px;
  font-size: 12px;
}
.priceBox .rightPanel .submitBox .submitType .submitMain .item .inputText input {
  padding: 0 0 0 13px;
  line-height: 30px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}
.priceBox .rightPanel .submitBox .submitType .submitMain .item .inputButton .submitButton {
  background: #007eea;
  border: 0;
  color: #fff;
  line-height: 30px;
  height: 30px;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
  max-width: 230px;
}
.priceBox .rightPanel .submitBox .nowPrice {
  position: absolute;
  top: -15px;
  left: 15px;
  background: #fff;
  border: 1px solid #007eea;
  color: #007eea;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 3px;
}
.priceBox .rightPanel .place {
  width: calc(100%);
  margin: 60px 0 0;
  height: 230px;
  bottom: 0;
}
.priceBox .rightPanel .place .place_box {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  flex-wrap: nowrap;
  justify-content: center;
}
.priceBox .rightPanel .place .place_box .item {
  text-align: center;
  position: relative;
  flex: 1;
  width: 300px;
  vertical-align: baseline;
}
.priceBox .rightPanel .place .place_box .item .info {
  position: relative;
  text-align: left;
  width: 60%;
  margin: 0 auto 10px;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #eee;
  padding: 10px;
}
.priceBox .rightPanel .place .place_box .item.active .info {
  border:1px solid #007eea;
  border-radius: 3px;
}
.priceBox .rightPanel .place .place_box .item .info h4 {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px; 
} 
.priceBox .rightPanel .place .place_box .item.active .info h4 {
  font-weight: bold;
  font-size: 14px;
  color: #007eea;
  margin-bottom: 5px; 
}  
.priceBox .rightPanel .place .place_box .item .info p {
  font-size: 12px;
  margin-bottom: 10px;
}
.priceBox .rightPanel .place .place_box .item .info:after {
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.priceBox .rightPanel .place .place_box .item.active .info::before {
  bottom: -20px;
  left: 50%;
  margin-left: -12px;
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-top: 10px solid #007eea;
  border-bottom: 10px solid transparent;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.priceBox .rightPanel .place .place_box .item .b {
  width: 100%;
}
.priceBox .rightPanel .place .place_box .item .b .dot {
  width: 15px;
  height: 15px;
  background: #28b567;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top:8px;
}
.priceBox .rightPanel .place .place_box .item .b .text {
  font-size: 14px;
  font-weight: bold;
}
.priceBox .rightPanel .place .place_box .item:first-child::after {
  display: none;
}
.priceBox .rightPanel .place .place_box .item:after {
  content: '';
  display: block;
  position: absolute;
  height: 5px;
  width: 80%;
  background: linear-gradient(to right, #28b567, #28b567);
  border-radius: 55px;
  bottom: 32px;
  left: -40%;
}
.priceBox .rightPanel .place .place_box .item.active .dot {
  background: #007eea;
}
.priceBox .rightPanel .place .place_box .item.active .dot:after {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  border-radius: 50%;
  border: 2px solid #007eea;
  height: 21px;
  width: 21px;
}
.priceBox .rightPanel .place .place_box .item.active:after {
  background: linear-gradient(to right, #28b567, #007eea);
}
.priceBox .rightPanel .place .place_box .item.noActive {
  color: #999;
}
.priceBox .rightPanel .place .place_box .item.noActive:after {
  background: #ccc;
}
.priceBox .rightPanel .place .place_box .item.noActive .dot {
  background: #ccc;
}
 
.notEliminatedCount{font-size:24px; font-weight: bold;}
.showPriceBox{display:flex;}
.showPriceBox .item{flex:1;text-align:center;margin:  0;font-size: 20px;line-height: 2em; border-right:1px solid #ddd;}
.showPriceBox .item:last-child{border-right:0;}
.showPriceBox .item span{display:block;}

.myView{background:#fff;}