body.view{
	width: 210mm;
	padding: 16.3mm !important;
	border:1px solid #dddddd;
	box-shadow: 0 5px 5px #666666;
	min-height:500px;
	height: auto !important;
	margin: 20px auto;
	font-family:SimSun !important;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
}

table{border-collapse: collapse; table-layout:fixed;word-break:break-all; width:100%;}
table p{padding:0px; margin:0px;text-indent: 0em;}
table td{border:1px solid #000; padding:5px 10px; table-layout:fixed;word-break:break-all;}
p{ white-space: normal; word-wrap: break-word;word-break: break-all;text-indent: 2em;}